.home-block {
    color: white;
    margin-top: 7%;
    /* background-color: red; */
    width: 100%;
    height: 80%;
    text-align: center;
}

.words {
    font-size: 70px;
    /* text-stroke: 10px #0000; */
    -webkit-text-stroke: 1px #636363;
}

.blue-text {
    font-size: 120px;
    color: #29cdff;
}

.btn-to-sales {
    margin-top: 10%;
}

.btn-home {
    color: white;
    text-decoration: none;
    /* border: 4px solid #29cdff; */
    background-color: rgba(29, 109, 206, 0.8);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 4%;
    padding-left: 4%;
    font-size: 30px;
    /* -webkit-text-stroke: 0.7px #636363; */
}

.btn-home:hover {
    color: #f1ff29;
    transition: 1s;
}